<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SOME NAME</title>
    
    <link rel="stylesheet" href="/static/css/diagrams.css">
    <link rel="stylesheet" href="/static/css/auth.css">
    <link rel="stylesheet" href="/static/css/base.css">
    
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script>
        const userId = {% if user.is_authenticated %}"{{ user.id }}"{% else %}null{% endif %};
        const id = "{{ id }}";
    </script>
    <script src="/static/js/diagram.js"></script>
    <script src="/static/js/utils.js"></script>

    {% block static %}{% endblock %}
</head>
<body>
    <div class="dark-overlay" id="dark-overlay"></div>

    <div class="modal col-con" id="auth-modal">
        <h2>Log in</h2>
        {% include "components/login.html" %}
    </div>

    <header class="loading cen-con">
        <div class="loader"></div>    
    </header>

    {% block content %}{% endblock %}
</body>
</html>