<div class="col-con">
    <img src="/static/icons/{{ project.2 }}.svg">
    <h3>{{ project.1 }}</h3>

    <div class="even-con">
        <button class="secondary" onclick="window.location.href='/app/edit/{{ project.0 }}'"><iconify-icon icon="fa7-solid:pencil"></iconify-icon></button>
        <button class="secondary" onclick="loadSubmissions('{{ project.0 }}')"><iconify-icon icon="fa6-solid:list-ul"></iconify-icon></button>
        <button class="danger" onclick="deleteProject('{{ project.0 }}')"><iconify-icon icon="heroicons-solid:trash"></iconify-icon></button>
    </div>
    <button class="primary" onclick="window.location.href='/a/{{ project.0 }}'">See</button>
</div>