nav {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

main.content {
    padding: 20vh 5vw 5vw 5vw;
}

.share-buttons {
    margin: 5vh 0;
    font-size: 40px;
    justify-content: center;
}

.share-buttons img,
.share-buttons iconify-icon {
    transition: .2s;
    cursor: pointer;
}
.share-buttons img:hover,
.share-buttons iconify-icon:hover {
    transform: scale(1.1);
}
.share-buttons img {
    height: 40px;
}

.modal.create {
    max-width: 650px;
}

.templates {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 15px;
    text-align: center;
    overflow-y: auto;
    padding: clamp(25px, 4vw, 100px);
    margin: calc(clamp(25px, 4vw, 100px) * -1);
    z-index: -1;
}

.template img {
    width: 100%;
}
.template button {
    margin-top: auto;
}

.nothing {
    width: 100%;
    height: 50vh;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
}

.projects .pri-sec-con,
.projects h3 {
    margin-top: -10px;
    text-align: center;
}

.projects .actions.even-con {
    gap: 10px;
}
.projects .actions.even-con button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects .pri-sec-con .pri {
    flex: 1;
}

#project-modal {
    max-height: 60vh;
    max-width: 600px;
}

.modal .cen-con {
    flex: 1;
    min-height: 40vh;
}

.loader {
    width: 40px;
    aspect-ratio: 1;
    background: radial-gradient(farthest-side, var(--primary-clr) 100%) 0 0/10px 10px no-repeat,
        conic-gradient(from 90deg at 10px 10px, #0000 90deg, var(--primary-bg-80) 0),
        conic-gradient(from -90deg at 30px 30px, #0000 90deg, var(--primary-bg-80) 0);
    animation: l1 1.5s infinite;
}

@keyframes l1 {
    0%   {background-position:0    0}
    25%  {background-position:100% 0}
    50%  {background-position:100% 100%}
    75%  {background-position:0    100%}
    100% {background-position:0     0}
}

.submission b {
    flex: 1;
}
.submission iconify-icon {
    cursor: pointer;
}

@media (max-width: 500px) {
    .submission {
        flex-wrap: wrap;
        row-gap: 1px;    
    }
    .submission span {
        width: 100%;
        font-size: 14px;
    }
    .submission b {
        order: 2;
    }
    .submission iconify-icon {
        order: 3;
    }
}