@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"), url("/static/font/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local("Montserrat"), url("/static/font/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat"), url("/static/font/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "CoFo Robert";
    font-style: normal;
    font-weight: 400;
    src: local("CoFo Robert Regular"), url("/static/font/CoFo_Robert-Regular.woff") format("woff");
}

@font-face {
    font-family: "CoFo Robert";
    font-style: normal;
    font-weight: 500;
    src: local("CoFo Robert Medium"), url("/static/font/CoFo_Robert-Medium.woff") format("woff");
}

@font-face {
    font-family: "CoFo Robert";
    font-style: normal;
    font-weight: 700;
    src: local("CoFo Robert Bold"), url("/static/font/CoFo_Robert-Bold.woff") format("woff");
}

@font-face {
    font-family: "CoFo Robert";
    font-style: normal;
    font-weight: 800;
    src: local("CoFo Robert Heavy"), url("/static/font/CoFo_Robert-Heavy.woff") format("woff");
}

@font-face {
    font-family: "CoFo Robert";
    font-style: normal;
    font-weight: 900;
    src: local("CoFo Robert Black"), url("/static/font/CoFo_Robert-Black.woff") format("woff");
}

:root {
    --primary-font: "CoFo Robert";
    --secondary-font: "Montserrat";

    --primary-font-clr: #000;
    --primary-font-clr-acc: #666;

    --primary-bg: #fff;
    --primary-bg-80: #e2e2e2;
    --primary-bg-60: #bbbbbb;

    --primary-clr: #456dff;
    --primary-clr-80: #456dffcc;
    --primary-clr-60: #456dff99;
    --primary-clr-40: #456dff66;
    --primary-clr-20: #456dff33;

    --danger-clr: #FF5D5D;
    --danger-clr-80: #cf3838;
}

* {
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--secondary-font);
    overflow-x: hidden;
    width: 100vw;
}
body.no-scroll {
    overflow-y: hidden;
}

h1, h2, h3 {
    font-family: var(--primary-font);
}

p.secondary {
    color: var(--primary-font-clr-acc)
}

header {
    width: 100vw;
    height: 100vh;
}

input, textarea, button {
    font-family: var(--secondary-font);
    font-size: 16px;
    border: none;
    transition: .2s;
}

input {
    padding: 10px 20px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
}

input {
    border: 2px solid var(--primary-bg-80);
}

input:focus {
    outline: none;
    border: 2px solid #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid transparent;
}
button:disabled {
    pointer-events: none;
}

button.primary {
    background: var(--primary-clr);
    color: #fff;
}
button.primary:hover {
    background: var(--primary-clr-80);
}

button.secondary {
    background: var(--primary-bg-80);
    border-color: var(--primary-bg-80);
}
button.secondary:hover {
    background: var(--primary-bg-60);
    border-color: var(--primary-bg-60);
}

button.tertiary {
    background: var(--primary-bg);
    border-color: var(--primary-bg-80);
    color: var(--primary-font-clr-acc);
}
button.tertiary:hover {
    border-color: #000;
    color: var(--primary-font-clr);
}

button.danger {
    background: var(--danger-clr);
    border-color: var(--danger-clr);
    color: #fff;
}
button.danger:hover {
    background: var(--danger-clr-80);
    border-color: var(--danger-clr-80);
}

.dark-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.7);
    z-index: 100;
    opacity: 0;
    transition: .2s;
    pointer-events: none;
}
.dark-overlay.active {
    pointer-events: all;
    opacity: 1;
}

.content {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 5vw;
}

.pri-sec-con,
.even-con,
.col-con,
.cen-con {
    display: flex;
}

.pri-sec-con,
.even-con,
.cen-con {
    align-items: center;
}

.pri-sec-con {
    gap: 10px;
}

.cen-con {
    justify-content: center;
}

.even-con,
.col-con {
    gap: 20px;
}

.pri-sec-con .pri,
.even-con > div,
.even-con > button {
    flex: 1;
}

.col-con {
    flex-direction: column;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    padding: clamp(25px, 4vw, 100px);
    width: 95vw;
    background: var(--primary-bg);
    z-index: 1002;
    border-radius: 15px;
    display: none;
    max-height: 90vh;
    overflow-y: auto;
}
.modal.active {
    display: flex;
}

.modal h2{
    text-align: center;
}

.modal span.close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}