.loading {
    flex-direction: column;
    gap: 10px;
}
.loading p {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-font-clr-acc);
}

.loader {
    width: 40px;
    aspect-ratio: 1;
    background: radial-gradient(farthest-side, var(--primary-clr) 100%) 0 0/10px 10px no-repeat,
        conic-gradient(from 90deg at 10px 10px, #0000 90deg, var(--primary-bg-80) 0),
        conic-gradient(from -90deg at 30px 30px, #0000 90deg, var(--primary-bg-80) 0);
    animation: l1 1.5s infinite;
}

@keyframes l1 {
    0%   {background-position:0    0}
    25%  {background-position:100% 0}
    50%  {background-position:100% 100%}
    75%  {background-position:0    100%}
    100% {background-position:0     0}
}

main {
    position: relative;
    display: none;
    width: 100vh;
    height: 100vh;
    margin: 0px auto;
    overflow: hidden;
}
main.active {
    display: flex;
}

main svg {
    height: 100vh;
    width: 100vh;
}

main b,
main span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    user-select: none;
    pointer-events: none;
}
main b {
    font-size: 18px;
}
main span {
    font-size: 12px;
}

main p {
    position: absolute;
    bottom: 3%;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: var(--primary-font-clr-acc);
}
main.answered p {
    display: none;
}

.actions {
    position: absolute;
    z-index: 100;
    top: 3%;
    width: 100%;
    left: 0;
}
main.answered .submit-actions {
    display: none;
}
main:not(.answered) .answer-actions {
    display: none;
}

.actions .option {
    flex: 1;
}
.actions input {
    padding: 10px 20px;
}

.item {
    position: fixed;
    display: none;
}

li,
.item {
    z-index: 10;
    padding: 5px 15px;
    border-radius: 50px;
    font-weight: 500;
    background: #e2e2e299;
    user-select: none;
}
.item.active {
    display: inline-block;
}

li {
    position: absolute;
    margin: -5px -15px;
}
main.hide li:not(.specific) {
    display: none;
}
li.median {
    background: var(--primary-clr);
}

button:disabled {
    color: #000;
    background: var(--primary-bg-80);
}

.search-options {
    position: absolute;
    display: none;
    top: calc(3% + 50px);
    max-height: 50vh;
    background: var(--primary-bg);
    border: 2px solid var(--primary-bg-80);
    width: 50%;
    z-index: 1000;
    border-radius: 15px;
    overflow: hidden;
}
.search-options.active {
    display: block;
}

.search-options > div {
    font-weight: 500;
    cursor: pointer;
    padding: 20px;
    transition: .2s;
}
.search-options > div:hover {
    background: var(--primary-bg-80);
}