header {
    overflow: hidden;
}

.preview {
    aspect-ratio: 1/1;
    position: relative;
    border: 2px solid var(--primary-bg-80);
    border-radius: 25px;
    max-width: 90vw;
    /* overflow: hidden; */
}

.preview button {
    position: absolute;
    right: 20px;
    bottom: -110%;
    z-index: 3;
}
.preview button.active {
    animation: bounce 1s ease;
    animation-fill-mode: forwards;
}

.preview b {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: var(--danger-clr);
    font-size: 14px;
}

@keyframes bounce {
    0%   { bottom: -110%; }
    60%  { bottom: 20px; }
    75%  { bottom: 10px; }
    85%  { bottom: 20px; }
    95%  { bottom: 18px; }
    100% { bottom: 20px; }
}

.preview-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .2s;
    opacity: 0;
    pointer-events: none;
}

.preview-page.active {
    opacity: 1;
    pointer-events: all;
}

/* STEP 1 CHART OPTIONS */
.chart-options {
    padding: 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.chart-options img {
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: .2s;
}

.chart-options img:hover {
    filter: brightness(0.75);
}

/* STEP 2 CATEGORIES */
.preview-page svg,
.edit-chart {
    width: 100%;
    height: 100%;
}

.edit-chart {
    position: relative;
}

.edit-chart input {
    position: absolute;
    z-index: 2;
    font-weight: bold;
    width: 135px;
    text-align: center;
}

#page-category.quadrant input:nth-child(1) {
    top: 50%;
    left: 7.5%;
    transform: translateY(-50%);
}
#page-category.quadrant input:nth-child(2) {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
#page-category.quadrant input:nth-child(3) {
    top: 50%;
    right: 7.5%;
    transform: translateY(-50%);
}
#page-category.quadrant input:nth-child(4) {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#page-category.venn4 input:nth-child(1) {
    top: 20%;
    left: 5%;
}
#page-category.venn4 input:nth-child(2) {
    top: 15%;
    left: 25%;
}
#page-category.venn4 input:nth-child(3) {
    top: 15%;
    right: 25%;
}
#page-category.venn4 input:nth-child(4) {
    top: 20%;
    right: 5%;
}

#page-category.venn3 input:nth-child(1) {
    top: 7%;
    left: 20%;
}
#page-category.venn3 input:nth-child(2) {
    top: 7%;
    right: 20%;
}
#page-category.venn3 input:nth-child(3) {
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}
#page-category.venn3 input:nth-child(4) {
    display: none
}

#page-category.venn2 input:nth-child(1) {
    top: 18%;
    left: 25%;
}
#page-category.venn2 input:nth-child(2) {
    top: 18%;
    right: 25%;
}
#page-category.venn2 input:nth-child(3),
#page-category.venn2 input:nth-child(4) {
    display: none
}

.chart-settings {
    display: none;
    position: absolute;
    padding: 10px;
    width: 150px;
    border-radius: 15px;
    background: var(--primary-bg);
    margin-top: -52.4px;
    z-index: 1;
}
.chart-settings.active {
    display: block;
}

.chart-settings .input-placeholder {
    height: 42.4px;
}

.chart-settings .colors {
    margin-top: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.chart-settings .color {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: .2s;
}
.chart-settings .color:hover {
    border-color: #000;
}

.chart-settings input {
    display: none;
}

/* STEP 3 SECTIONS */
#page-sections input {
    display: none;
}
#page-sections input.active {
    display: block;
}

#page-sections.venn2 input:nth-child(1) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page-sections.venn3 input:nth-child(1) {
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
#page-sections.venn3 input:nth-child(2) {
    top: 48%;
    left: 30%;
}
#page-sections.venn3 input:nth-child(3) {
    top: 48%;
    right: 30%;
}
#page-sections.venn3 input:nth-child(4) {
    top: 42%;
    left: 50%; 
    transform: translateX(-50%); 
}

#page-sections.venn4 input:nth-child(1) {
    top: 35%;
    left: 16%;
}
#page-sections.venn4 input:nth-child(2) {
    top: 56%;
    left: 23%;
}
#page-sections.venn4 input:nth-child(3) {
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}
#page-sections.venn4 input:nth-child(4) {
    top: 45%;
    left: 26%;
}
#page-sections.venn4 input:nth-child(5) {
    top: 68%;
    left: 50%;
    transform: translateX(-50%);
}
#page-sections.venn4 input:nth-child(6) {
    top: 56%;
    right: 23%;
}
#page-sections.venn4 input:nth-child(7) {
    top: 35%;
    right: 16%;
}
#page-sections.venn4 input:nth-child(8) {
    top: 60%;
    right: 29%;
}
#page-sections.venn4 input:nth-child(9) {
    top: 60%;
    left: 29%;
}
#page-sections.venn4 input:nth-child(10) {
    top: 45%;
    right: 26%;
}
#page-sections.venn4 input:nth-child(11) {
    top: 54%;
    left: 50%;
    transform: translateX(-50%);
}

/* STEPS */
.options.even-con::-webkit-scrollbar {
    width: 0;
}

.options .pri-sec-con {
    color: var(--primary-font-clr-acc);
    transition: .2s;
}

.options .pri-sec-con.active {
    color: var(--primary-font-clr);
}

.options .pri-sec-con .pri {
    width: 15px;
    text-align: center;
    font-size: 25px;
}

.pri-sec-con .divider {
    width: 2px;
    height: 50px;
    background: var(--primary-bg-80);
    border-radius: 50px;
    margin: 0px 10px;
    transition: .2s;
    position: relative;
}

.options .pri-sec-con .divider::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0;
    background: #000;
    transition: .2s;
}

.options .pri-sec-con.active .divider::after {
    height: 100%;
    top: 0;
    bottom: unset;
}

.not-step-3,
.step-3 {
    display: none !important;
}
.options:not(.step-3-active) .not-step-3,
.step-3-active .step-3 {
    display: flex !important;
}

.list-options {
    display: none;
    height: 100vh;
    overflow-y: auto;
}
.list-options.active {
    display: block;
}

.final {
    justify-content: center;
    border-bottom: 2px solid var(--primary-bg-80);
    padding: 20px;
    margin-bottom: 10vh;
}

.option-input {
    width: 100%;
    max-width: 400px;
    margin-bottom: 2vh;
}

.option-input iconify-icon {
    font-size: 25px;
    color: var(--primary-font-clr-acc);
    transition: .2s;
    cursor: pointer;
}
.option-input iconify-icon:hover {
    color: #000;
}

.option-elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 2vw;
    row-gap: 1vw;
}
.option-element {
    width: 100%;
}

.option-element p {
    background-color: var(--primary-bg-80);
    padding: 3px 15px;
    border-radius: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.option-element iconify-icon {
    font-size: 20px;
    color: var(--primary-font-clr-acc);
    transition: .2s;
}
.option-element iconify-icon:hover {
    color: #000;
}

.share-buttons {
    margin: 5vh 0;
    font-size: 40px;
    justify-content: center;
}

.share-buttons iconify-icon {
    transition: .2s;
    cursor: pointer;
}
.share-buttons iconify-icon:hover {
    transform: scale(1.1);
}

@media (min-width: 1024px) {
    .options.even-con {
        flex-direction: column;
        align-items: start
    }
}

@media (max-width: 1024px) {
    header.content {
        flex-direction: column;
        padding: 5vh 0;
    }
    header.even-con > div {
        flex: unset;
    }
    header.even-con .preview {
        order: 2;
        min-height: 60vw;
    }

    .options.even-con {
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        scroll-behavior: smooth;
        width: 100vw;
        height: 20%;
    }
    .options > div.pri-sec-con {
        flex: 0 0 100vw;
        width: 100vw;
        scroll-snap-align: start;
        display: flex;
        justify-content: center;
    }

    p.secondary {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    header.even-con .preview {
        min-height: 90vw;
    }
}