<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    {% assets "app_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "app_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>
<body>
    <div class="dark-overlay" id="dark-overlay"></div>

    <div class="modal col-con" id="profile-modal">
        <span class="close" onclick="toggleModal('profile')">&times;</span>
        <h2>{{ current_user.email }}</h2>
        <div class="divider"></div>

        <p>
            Request your data. You will recieve an email with all data associated to your account. 
        </p>
        <button class="secondary">Request data</button>
        <p>
            This is a permanent action. You're data will be kept for 15 days for legal compliance reasons. <a href="/article/privacy-policy">Read more</a>
        </p>
        <button class="danger">Delete account</button>
        <button class="primary" onclick="window.location.href='/logout'">Log out</button>
    </div>

    <div class="modal col-con create" id="create-modal">
        <span class="close" onclick="toggleModal('create')">&times;</span>
        <h2>Create new project</h2>
        <p>
            Name your project and pick a template of your choosing, or continue without one.
        </p>
        <input type="text" placeholder="Name" id="name">

        <div class="templates">
            <div class="template col-con">
                <img src="/static/images/blank.png">
                <h3>Blank</h3>
                <button class="primary" onclick="createProject(true, null)">Continue</button>
            </div>
            <div class="template col-con">
                <img src="/static/images/kill_marry_fuck.png">
                <h3>Kill Marry Fuck</h3>
                <button class="secondary" onclick="createProject(false, 'kill_marry_fuck')" disabled>Continue</button>
            </div>
            <div class="template col-con">
                <img src="/static/images/political_compass.png">
                <h3>Political Compass</h3>
                <button class="secondary" onclick="createProject(false, 'political_compass')" disabled>Continue</button>
            </div>
        </div>
    </div>

    <div class="modal col-con" id="project-modal">
        <h2>Loading submissions</h2>
        <div class="cen-con">
            <div class="loader"></div>
        </div>
    </div>

    <nav class="content pri-sec-con">
        <button class="primary pri-sec-con" onclick="toggleModal('create')"><iconify-icon icon="fa-solid:plus"></iconify-icon> Create</button>
        <button class="secondary" onclick="toggleModal('profile')">Profile</button>
    </nav>

    <main class="content">
        <h2>Your projects</h2>
        {% if projects|length == 0 %}
            <div class="col-con cen-con nothing">
                <b>No projects found :(</b>
                <button class="secondary" onclick="toggleModal('create')">Create first project</button>
            </div>
        {% endif %}
        <div class="projects">
            {% for project in projects %}
                {% include "components/project.html" %}
            {% endfor %}
        </div>
    </main>
</body>
</html>