<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">

    <title>{{ name }}</title>

    {% assets "diagram_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "diagram_js" %}
            <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script>
        const answered = {% if answered %}true{% else %}false{% endif %};
        const template = "{{ template }}";
        const userId = {% if user.is_authenticated %}"{{ user.id }}"{% else %}null{% endif %};
        const id = "{{ id }}";
    </script>
</head>
<body class="placing">
    <div class="dark-overlay" id="dark-overlay"></div>

    <div class="modal col-con" id="auth-modal">
        <h2>Log in</h2>
        {% include "components/login.html" %}
    </div>

    <header class="loading cen-con" id="loading"{% if not user.is_authenticated %}style="display:none;"{% endif %}>
        <div class="loader"></div>    
        <p id="loading-text">Preparing...<br>Your submission will be anonymous.</p>
    </header>

    {% if not answered %}
        <li class="placing" id="item"></li>

        <div class="placement-wrapper">
            <div class="placement">
                <p id="placement-text">
                    Hold the name for a short while then drag it and drop it wherever you like.
                </p>
                <button class="secondary" onclick="skip()" id="placement-btn">Skip</button>
            </div>
        </div>
    {% endif %}

    <main id="main">
        <div class="even-con actions answer-actions search">
            <input type="text" placeholder="Search name..." oninput="searchItem(this.value)">
            <button class="secondary cen-con" onclick="toggleVisible()"><iconify-icon icon="fa6-solid:eye"></iconify-icon></button>
        </div>

        <div class="search-wrapper search">
            <div class="search-options search" id="search-options"></div>
        </div>

        <div class="actions submit-actions">
            <button class="primary" onclick="next(false)">Next</button>
        </div>
    </main>
</body>
</html>