<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SOME NAME</title>

    <!-- Combine -->    
    <link rel="stylesheet" href="/static/css/diagrams.css">
    <link rel="stylesheet" href="/static/css/auth.css">
    <link rel="stylesheet" href="/static/css/base.css">
    
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script>
        const answered = {% if answered %}true{% else %}false{% endif %};
        const template = "{{ template }}";
        const userId = {% if user.is_authenticated %}"{{ user.id }}"{% else %}null{% endif %};
        const id = "{{ id }}";
    </script>
    <!-- COmbine -->
    <script src="/static/js/diagram.js"></script>
    <script src="/static/js/utils.js"></script>
</head>
<body>
    <div class="dark-overlay" id="dark-overlay"></div>

    <div class="modal col-con" id="auth-modal">
        <h2>Log in</h2>
        {% include "components/login.html" %}
    </div>

    <header class="loading cen-con" id="loading">
        <div class="loader"></div>    
        <p id="loading-text">Preparing</p>
    </header>

    <span class="item" id="item"></span>

    <main id="main">
        <div class="even-con actions submit-actions">
            <button class="secondary" id="counter" disabled>0</button>
            <button class="secondary option" id="option" onclick="togglePlacing(event, this)"></button>
            <button class="secondary" onclick="skip()">Skip</button>
            <button class="primary" onclick="submit()">Finish</button>
        </div>
        <div class="even-con actions answer-actions search">
            <input type="text" placeholder="Search name..." oninput="searchItem(this.value)">
            <button class="secondary" onclick="toggleVisible()"><iconify-icon icon="fa6-solid:eye"></iconify-icon></button>
        </div>

        <div class="search-options search" id="search-options"></div>

        <p>
            Click the name up top and place them on the diagram.<br>
            Only the creator of the diagram will be able to view your answers.
        </p>
    </main>
</body>
</html>