<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>

    {% assets "edit_project_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "edit_project_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
        const id = "{{ id }}";
        const template = "{{ template }}";
    </script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>
    <button class="secondary back even-con" onclick="window.history.back()">
        <iconify-icon icon="fa6-solid:arrow-left"></iconify-icon>Back
    </button>
    <button class="secondary back even-con" onclick="window.history.back()">
        <iconify-icon icon="fa6-solid:arrow-left"></iconify-icon>Share
    </button>

    <div class="changes" id="changes">
        <div class="content pri-sec-con">
            <p>You have unsaved changes</p>
            <button class="secondary" onclick="discard()">Discard</button>
            <button class="primary" onclick="submit(this)">Save</button>
        </div>
    </div>


    <div class="color-picker" id="color-picker">
        <div class="color" style="background:#456dff;" onclick="setColour('#456dff')"></div>  <!-- blue -->
        <div class="color" style="background:#7A45FF;" onclick="setColour('#7A45FF')"></div>  <!-- violet -->
        <div class="color" style="background:#D745FF;" onclick="setColour('#D745FF')"></div>  <!-- magenta -->
        <div class="color" style="background:#FF6A45;" onclick="setColour('#FF6A45')"></div>  <!-- orange-red -->
        <div class="color" style="background:#FFA645;" onclick="setColour('#FFA645')"></div>  <!-- golden orange -->
        <div class="color" style="background:#f7ec1f;" onclick="setColour('#f7ec1f')"></div>  <!-- coral pink -->
        <div class="color" style="background:#14aa5a;" onclick="setColour('#14aa5a')"></div>  <!-- hot pink -->

        <label for="color-picker-input" class="color" style="background:var(--primary-bg-80);">
            <input type="color" id="color-picker-input" oninput="setColour(this.value)">
        </label>
    </div>

    <header class="content even-con col-con">
        <div class="preview" id="preview"></div>
        <div class="settings">
            <div class="nav even-con">
                <a class="active" onclick="toggleSetting(this, 'categories')" id="categories-btn">Categories</a>
                {% if template != "quadrant"%}<a onclick="toggleSetting(this, 'sections')" id="sections-btn">Sections</a>{% endif %}
                <a onclick="toggleSetting(this, 'options')" id="options-btn">Options</a>
            </div>

            <div class="setting col-con active" id="categories-setting"></div>
            <div class="setting col-con" id="sections-setting"></div>
            <div class="setting col-con" id="options-setting">
                <div class="pri-sec-con option-input">
                    <input type="text" placeholder="Option" id="option-input" onkeydown="if(event.key === 'Enter')addOption(this);">
                    <iconify-icon icon="fa7-solid:circle-plus" onclick="addOption(document.getElementById('option-input'))"></iconify-icon>
                </div>

                <div class="option-elements" id="option-elements"></div>
            </div>
        </div>
    </header>
</body>
</html>