<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>LetsM.app the Ultimate Social Graphing Experience</title>

    {% assets "index_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "index_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>
    <div class="dark-overlay" id="dark-overlay"></div>

    <div class="modal col-con" id="auth-modal">
        <span class="close" onclick="toggleModal('auth')">&times;</span>
        <h2>Log in</h2>
        {% include "components/login.html" %}
    </div>

    <nav id="nav">
        <div class="content even-con">
            <b>letsm.app</b>
            <a><button class="primary" onclick="{% if current_user.is_authenticated %}window.location.href='/app'{% else %}toggleModal('auth'){% endif %}">Get started</button></a>
        </div>
    </nav>

    <header class="cen-con col-con">
        <div class="top">
            <div class="content even-con">
                <b>letsm.app</b>
                <a><button class="tertiary" onclick="{% if current_user.is_authenticated %}window.location.href='/app'{% else %}toggleModal('auth'){% endif %}">Log in</button></a>
            </div>
        </div>

        <h1>
            Anonymously Plot 
            <div class="title-text">
                your
                <span class="remove" id="4">Family</span>
                <span id="3">Data</span>
                <span id="2">Peers</span>
                <span id="1">Friends</span>
                <span class="active" id="0">Colleagues</span>
            </div>
        </h1>
        <p>
            Create custom tailored graphs to explore the dynamics of your group.
        </p>
        <button class="primary cta" onclick="{% if current_user.is_authenticated %}window.location.href='/app'{% else %}toggleModal('auth'){% endif %}"><b>Get started</b></button>
    </header>

    <div class="numbers">
        <div class="content">
            <h2>You’re in good company</h2>
        </div>
        <div class="cen-con even-con">
            <div><h3>{{ statistics.users }}</h3> users</div>
            <div><h3>{{ statistics.projects }}</h3> diagrams</div>
            <div><h3>{{ statistics.submissions }}</h3> answers</div>
        </div>
    </div>

    <section class="first">
        <img src="/static/images/custom.png">

        <div class="cen-con col-con">
            <h2>Endlessly Customizable</h2>
            <p>
                Start with a blank canvas or a template. Rename, relabel or recolor — it's your diagram, your way.
            </p>
        </div>
    </section>

    <section class="left">
        <div class="cen-con col-con">
            <h2>Instantly Shareable</h2>
            <p>
                Get a unique link with one click. Post it in your group chat, drop it in Discord, or send it straight to friends. No downloads needed.
            </p>
        </div>

        <img src="/static/images/share.png">
    </section>

    <section class="last">
        <img src="/static/icons/quadrant.svg">

        <div class="cen-con col-con">
            <h2>See What They Think</h2>
            <p>
                Everyone places the names anonymously — then the real fun begins. View the collective results, explore individual placements, and uncover the group’s unspoken truths.
            </p>
        </div>
    </section>

    <div class="final cen-con">
        <button class="primary cta" onclick="{% if current_user.is_authenticated %}window.location.href='/app'{% else %}toggleModal('auth'){% endif %}"><b>Get started</b></button>
    </div>

    <footer>
        <div class="content">
            <div class="note">
                <div>
                    <a href="/article/terms-of-service">Terms of Service</a>
                    <a href="/article/privacy-policy">Privacy Policy</a>
                </div>
                <p>
                    © 2025 letsm.app
                </p>
            </div>
        </div>
    </footer>
</body>
</html>