<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>new</title>

    <link rel="stylesheet" href="/static/css/newProject.css">
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <header class="content even-con">
        <div class="preview cen-con">
            <div class="preview-page active">
                <div class="chart-options">
                    <img src="/static/icons/quadrant_chart.svg">
                    <img src="/static/icons/venn_4.svg">
                    <img src="/static/icons/venn_3.svg">
                    <img src="/static/icons/venn_2.svg">
                </div>
            </div>
            <div class="preview-page"></div>
            <div class="preview-page"></div>
        </div>
        <div class="options col-con">
            <div class="pri-sec-con active">
                <div class="pri">
                    <h2>1</h2>
                </div>
                <div class="divider"></div>
                <div class="sec">
                    <b>Pick a template</b>
                    <p class="secondary">Select what you would like to work with.</p>
                </div>
            </div>
            <div class="pri-sec-con">
                <div class="pri">
                    <h2>2</h2>
                </div>
                <div class="divider"></div>
                <div class="sec">
                    <b>Define categories</b>
                    <p class="secondary">Choose the categories of your diagram.</p>
                </div>
            </div>
            <div class="pri-sec-con">
                <div class="pri">
                    <h2>3</h2>
                </div>
                <div class="divider"></div>
                <div class="sec">
                    <b>Define sections</b>
                    <p class="secondary">Name the different sections created by your diagram.</p>
                </div>
            </div>
            <div class="pri-sec-con">
                <div class="pri">
                    <h2>4</h2>
                </div>
                <div class="divider"></div>
                <div class="sec">
                    <b>List options</b>
                    <p class="secondary">Make a list with all the options.</p>
                </div>
            </div>
        </div>
    </header>
</body>
</html>