<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>new</title>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <script src="/static/js/newProject.js"></script>
    <script src="/static/js/utils.js"></script>

    <link rel="stylesheet" href="/static/css/newProject.css">
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <div class="dark-overlay" id="dark-overlay"></div>
    <div class="modal col-con" id="share-modal">
        <h2>Start Sharing!</h2>
        <p>
            Now that you finished your diagram, you can share it with your friends/community and get started!
        </p>

        <div class="even-con share-buttons">
            <a onclick="copyUrl()">
                <iconify-icon icon="fa6-solid:copy" style="color:var(--primary-clr);"></iconify-icon>
            </a>
            <a href="https://api.whatsapp.com/send?text=Check%20out%20my%20diagram!%20https://example.com" target="_blank" rel="noopener">
                <iconify-icon icon="logos:whatsapp-icon"></iconify-icon>
            </a>
            <a href="https://twitter.com/intent/tweet?url=https://example.com&text=Check%20out%20my%20diagram!" target="_blank" rel="noopener">
                <iconify-icon icon="logos:twitter"></iconify-icon>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://example.com" target="_blank" rel="noopener">
                <iconify-icon icon="logos:facebook"></iconify-icon>
            </a>
            <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://example.com" target="_blank" rel="noopener">
                <iconify-icon icon="logos:linkedin-icon"></iconify-icon>
            </a>
        </div>

        <button class="secondary" onclick="makeChanges()">Make changes</button>
        <button class="primary" onclick="vote()">Vote yourself</button>
    </div>

    <header class="content even-con">
        <div class="preview cen-con">
            <button class="primary" id="continue-btn">Continue</button>
            <b id="warning"></b>

            <div class="preview-page active" id="page-templates">
                <div class="chart-options">
                    <img src="/static/icons/quadrant.svg" onclick="selectTemplate('quadrant')">
                    <img src="/static/icons/venn4.svg" onclick="selectTemplate('venn4')">
                    <img src="/static/icons/venn3.svg" onclick="selectTemplate('venn3')">
                    <img src="/static/icons/venn2.svg" onclick="selectTemplate('venn2')">
                </div>
            </div>

            <div class="preview-page" id="page-category">
                <div class="edit-chart">
                    <input class="secondary" type="text" placeholder="Category 1" id="category_1" oninput="setCategory(1, this.value)" onfocus="focusCategory(this)">
                    <input class="secondary" type="text" placeholder="Category 2" id="category_2" oninput="setCategory(2, this.value)" onfocus="focusCategory(this)">
                    <input class="secondary" type="text" placeholder="Category 3" id="category_3" oninput="setCategory(3, this.value)" onfocus="focusCategory(this)">
                    <input class="secondary" type="text" placeholder="Category 4" id="category_4" oninput="setCategory(4, this.value)" onfocus="focusCategory(this)">

                    <div class="chart-settings" id="chart-settings">
                        <div class="input-placeholder"></div>

                        <div class="colors">
                            <div class="color" style="background:#456dff;" onclick="setColour('#456dff')"></div>  <!-- blue -->
                            <div class="color" style="background:#7A45FF;" onclick="setColour('#7A45FF')"></div>  <!-- violet -->
                            <div class="color" style="background:#D745FF;" onclick="setColour('#D745FF')"></div>  <!-- magenta -->
                            <div class="color" style="background:#FF6A45;" onclick="setColour('#FF6A45')"></div>  <!-- orange-red -->
                            <div class="color" style="background:#FFA645;" onclick="setColour('#FFA645')"></div>  <!-- golden orange -->
                            <div class="color" style="background:#f7ec1f;" onclick="setColour('#f7ec1f')"></div>  <!-- coral pink -->
                            <div class="color" style="background:#14aa5a;" onclick="setColour('#14aa5a')"></div>  <!-- hot pink -->

                            <label for="color-picker" class="color" style="background:var(--primary-bg-80);">
                                <input type="color" name="color-picker" id="color-picker" oninput="setColour(this.value)">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="preview-page" id="page-sections">
                <div class="edit-chart">
                    <!-- 2 Set Venn Diagram -->
                    <input class="secondary active" class="venn2 active" type="text" placeholder="CATEGORY_1 & CATEGORY_2" oninput="setSection(this, 1, this.value)">
                    
                    <!-- 3 Set Venn Diagram -->
                    <input class="secondary" class="venn3" type="text" placeholder="CATEGORY_1 & CATEGORY_3" oninput="setSection(this, 2, this.value)">
                    <input class="secondary" class="venn3" type="text" placeholder="CATEGORY_2 & CATEGORY_3" oninput="setSection(this, 3, this.value)">
                    <input class="secondary" class="venn3" type="text" placeholder="CATEGORY_1 & CATEGORY_2 & CATEGORY_3" oninput="setSection(this, 4, this.value)">
                    
                    <!-- 4 Set Venn Diagram -->
                    <input class="secondary" class="venn4" type="text" placeholder="CATEGORY_1 & CATEGORY_4" oninput="setSection(this, 5, this.value)">
                    <input class="secondary" class="venn4" type="text" placeholder="CATEGORY_2 & CATEGORY_4" oninput="setSection(this, 6, this.value)">
                    <input class="secondary" class="venn4" type="text" placeholder="CATEGORY_3 & CATEGORY_4" oninput="setSection(this, 7, this.value)">
                    
                    <input class="secondary" class="venn4" type="text" placeholder="CATEGORY_1 & CATEGORY_2 & CATEGORY_4" oninput="setSection(this, 8, this.value)">
                    <input class="secondary" class="venn4" type="text" placeholder="CATEGORY_1 & CATEGORY_3 & CATEGORY_4" oninput="setSection(this, 9, this.value)">
                    <input class="secondary" class="venn4" type="text" placeholder="CATEGORY_2 & CATEGORY_3 & CATEGORY_4" oninput="setSection(this, 10, this.value)">
                    
                    <input class="secondary" class="venn4" type="text" placeholder="CATEGORY_1 & CATEGORY_2 & CATEGORY_3 & CATEGORY_4" oninput="setSection(this, 11, this.value)">
                </div>
            </div>
        </div>
        <div class="options even-con step-3-active" id="steps">
            <div class="pri-sec-con active" id="step-1">
                <div class="pri">
                    <h2>1</h2>
                </div>
                <div class="divider"></div>
                <div class="sec">
                    <b>Pick a template</b>
                    <p class="secondary">Select what you would like to work with.</p>
                </div>
            </div>
            <div class="pri-sec-con" id="step-2">
                <div class="pri">
                    <h2>2</h2>
                </div>
                <div class="divider"></div>
                <div class="sec">
                    <b>Define categories</b>
                    <p class="secondary">Choose the categories of your diagram.</p>
                </div>
            </div>
            <div class="pri-sec-con step-3" id="step-3">
                <div class="pri">
                    <h2>3</h2>
                </div>
                <div class="divider"></div>
                <div class="sec">
                    <b>Define sections</b>
                    <p class="secondary">Name the different sections created by your diagram.</p>
                </div>
            </div>
            <div class="pri-sec-con" id="step-4">
                <div class="pri">
                    <h2 class="step-3">4</h2>
                    <h2 class="not-step-3">3</h2>
                </div>
                <div class="divider"></div>
                <div class="sec">
                    <b>List options</b>
                    <p class="secondary">Make a list with all the options.</p>
                </div>
            </div>
        </div>
    </header>

    <section class="content list-options" id="list-options">
        <div class="pri-sec-con final active">
            <div class="sec">
                <b>List options</b>
                <p class="secondary">Make a list with all the options.</p>
            </div>
            <div class="divider"></div>
            <div class="pri">
                <button class="primary" onclick="create()">Finish</button>
            </div>
        </div>

        <div class="pri-sec-con option-input">
            <input type="text" placeholder="Option" id="option-input" onkeydown="if(event.key === 'Enter')addOption(this);">
            <iconify-icon icon="fa7-solid:circle-plus" onclick="addOption(document.getElementById('option-input'))"></iconify-icon>
        </div>

        <div class="option-elements" id="option-elements"></div>
    </section>
</body>
</html>