<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LetsM.app - {% block title %}Article{% endblock %}</title>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    {% assets "articles_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
    <button onclick="window.history.back()">
        <iconify-icon icon="fa6-solid:arrow-left"></iconify-icon>Back
    </button>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>